In [1]:
import os

In [2]:
os.chdir("../")
%pwd

'/home/malik-harris/tekhqs/stocks/OHLCV-stock-pred'

In [3]:
import pandas as pd
import os
import matplotlib.pyplot as plt

folder = "data/raw/ohlcv"
ticker = "AAPL"

df = pd.read_csv(f"{folder}/{ticker}.csv")

df

            Date        Open        High         Low       Close     Volume
0     2015-06-01   29.178397   29.427001   29.126886   29.236628  128451200
1     2015-06-02   29.084331   29.263506   28.963391   29.106730  134670400
2     2015-06-03   29.263509   29.326219   29.093292   29.142565  123934000
3     2015-06-04   29.021628   29.245595   28.871570   28.972355  153800400
4     2015-06-05   29.003701   29.046255   28.748379   28.813328  142507200
...          ...         ...         ...         ...         ...        ...
2511  2025-05-23  193.669998  197.699997  193.460007  195.270004   78432900
2512  2025-05-27  198.300003  200.740005  197.429993  200.210007   56288500
2513  2025-05-28  200.589996  202.729996  199.899994  200.419998   45339700
2514  2025-05-29  203.580002  203.809998  198.509995  199.949997   51396800
2515  2025-05-30  199.369995  201.960007  196.779999  200.850006   70819900

[2516 rows x 6 columns]

In [4]:
print(df.shape)
print(df.info())
print(df.dtypes)
print(df.describe())

(2516, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516 entries, 0 to 2515
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2516 non-null   object
 1   Open    2516 non-null   float64
 2   High    2516 non-null   float64
 3   Low     2516 non-null   float64
 4   Close   2516 non-null   float64
 5   Volume  2516 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 118.1+ KB
None
Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object
              Open         High          Low        Close        Volume
count  2516.000000  2516.000000  2516.000000  2516.000000  2.516000e+03
mean    101.731130   102.851747   100.695231   101.831819  1.106706e+08
std      68.546870    69.300866    67.856794    68.629293  6.446211e+07
min      20.569752    20.951435    20.448619    20.647459  2.323470e+07
25%      37.604491    38.086223    37.309876    37.659503  6.780355e+07
50%      78.509515    79.033997    77.808751    78.604439  9.510800e+07
75%     161.285081   163.493439   159.836734   162.063015  1.345626e+08
max     257.568678   259.474086   257.010028   258.396667  6.488252e+08